@import "tailwindcss";

/* Removemos os estilos padrão do Vite que centralizavam o texto */
/* Você pode adicionar estilos globais personalizados aqui se precisar no futuro */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita rolagem horizontal acidental */
}