@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Suavidade na rolagem */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #F5F0E6; /* munilight */
  color: #322d2d; /* munidark */
}

/* Estilização da barra de rolagem (Opcional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F5F0E6;
}
::-webkit-scrollbar-thumb {
  background: #DC96A0; /* munipink */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64968C; /* munigreen */
}